services:
  - type: web
    name: whatsapp-backend
    runtime: docker
    plan: starter
    region: oregon
    branch: main
    healthCheckPath: /status
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: true
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
